<!doctype html>
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}
		%title git for svn users [[SHASH]]
		%meta{:content => "Presentatation about git for svn users", :name => "description"}
		%meta{:content => "Ivan Kuchin", :name => "author"}
		%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
		%meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}
		%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
		%link{:href => "reveal.js/css/reveal.min.css", :rel => "stylesheet"}
		%link#theme{:href => "reveal.js/css/theme/git.css", :rel => "stylesheet"}
		%link{:href => "reveal.js/lib/css/zenburn.css", :rel => "stylesheet"}
		%link{:href => './favicon.ico', :rel => 'icon'}
		%link{:href => './apple-touch-icon.png', :rel => 'apple-touch-icon'}
		:javascript
			document.write( '<link rel="stylesheet" href="reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		/[if lt IE 9]
			<script src="reveal.js/lib/js/html5shiv.js"></script>
		:scss
			.reveal {
				table {
					margin-left: auto; margin-right: auto; width: 100%;
					td { text-align: center; }
				}

				code, pre code { background: rgba(255, 255, 255, 0.2); }
				pre code { word-wrap: break-word; }
				sub, sup { font-size: smaller; }
				p.small { font-size: 0.7em; }

				span.tag {
					font-style: italic;
					&::before { content: "@" }
				}

				p.commands {
					code { white-space: nowrap; margin: 0 3px; }
				}

				.narrowSnippets {
					pre {
						width: 50%;
						code { word-wrap: normal; }
					}
				}
			}

			.begin-end   .reveal .state-background { background: rgba(   0,   0,   0, 0.2 ); }
			.plan        .reveal .state-background { background: rgba( 255, 255, 255, 0.2 ); }
			.why         .reveal .state-background { background: rgba(  50, 200,  90, 0.2 ); }
			.example     .reveal .state-background { background: rgba( 239,  57,  26, 0.2 ); }
			.what        .reveal .state-background { background: rgba(  22, 152, 213, 0.2 ); }
			.commands    .reveal .state-background { background: rgba(  12,  25,  77, 0.2 ); }
			.cons        .reveal .state-background { background: rgba( 200,  50,  30, 0.2 ); }
			.suggestions .reveal .state-background { background: rgba( 255, 122,   0, 0.2 ); }
			.resources   .reveal .state-background { background: rgba(  22, 213,  75, 0.2 ); }

	%body
		.reveal
			.slides

				%section#begin{data: {state: "begin-end"}}
					%h1
						git
						%span{style: 'font-size: 0.2em'} for svn users
					.fragment{style: 'width: 70%; position: realtive; margin: 5px auto; padding: 5px; background: rgba(255, 255, 255, 0.05)'}
						%q Source code control the way it was meant to be!
						%p{style: 'text-align: right'} — Linus Torvalds
					%p.small{style: 'margin-top: 3em'}
						Presentation by Ivan Kuchin (PH-EDU/GS-AIS-GDI)

				%section{data: {state: "plan"}}
					%h2 Plan
					%p Main points
					%p Hands-on
					%p What is git?
					%p Commands
					%p Why git?
					%p Cons
					%p Dos and don'ts
					%p Resources

				%section{data: {state: "why"}}
					%h2 Main points
					%p.fragment <strong>Distributed</strong> — everything is in your repo
					%p.fragment Easy <strong>branching</strong> and <strong>merging</strong>
					%p.fragment <strong>Small</strong> and <strong>fast</strong>
					%p.fragment <strong>Commit</strong> is a SHA1 hash of content and meta info
					%p.fragment <strong>Staging area</strong> — know what you commit

				%section{data: {state: "example"}}
					- script, cache_dir = %w[create-hello-world.sh .create-hello-world.cache]
					- cache = "#{cache_dir}/#{`git hash-object #{script}`.strip}"
					- Dir.mkdir(cache_dir) unless File.directory?(cache_dir)
					- system "./#{script} | haml > #{cache}" unless File.exist?(cache)
					= File.read(cache)

				%section{data: {state: "what"}}
					%section
						%h2 What is git?
						%h3 Terms 1/2
						%p.fragment <strong>Workspace</strong> — directory associated with repository
						%p.fragment <strong>Staging area</strong> (or Index) — changes registered for commit
						%p.fragment <strong>Repository</strong> — commits, branches, tags, HEAD
						%p.fragment <strong>Remote repository</strong> — name for linked repository like <code>origin</code> or <code>central</code>

					%section
						%h2 What is git?
						%h3 Terms 2/2
						%p.fragment <strong>Commit</strong> — snapshot of repository, parent commit(s), message, author, date
						%p.fragment <strong>Branch</strong> — named reference to a commit like <code>master</code> or <code>dev</code>
						%p.fragment <strong>Tag</strong> — also reference to a commit but not moving
						%p.fragment <strong>HEAD</strong> — reference to current branch or to current commmit
						%p.fragment <strong>Remote branch</strong> — local reference to the state of remote branch
						%p.fragment
							Advanced:
							<a href="http://git-scm.com/book/en/Git-Internals-Git-Objects">objects</a>,
							<a href="https://www.kernel.org/pub/software/scm/git/docs/gitrevisions.html">gitrevisions</a>

					%section.narrowSnippets
						%h2 What is git?
						%h3 Merging 1/2
						%p Merge feature to master:
						:markdown
								>>                   C---D feature
								>>                  /
								>>             A---B master
						.fragment
							%p Fast-forward:
							:markdown
									>>             A---B---C---D master, feature
						.fragment
							%p No fast-forward:
							:markdown
									>>                   C---D feature
									>>                  /     \
									>>             A---B-------M master

					%section.narrowSnippets
						%h2 What is git?
						%h3 Merging 2/2
						%p Merge non fast-forward feature to master:
						:markdown
								>>                   C---D feature
								>>                  /
								>>             A---B---E master
						.fragment
							%p Merge:
							:markdown
									>>                   C---D feature
									>>                  /     \
									>>             A---B---E---M master

					%section.narrowSnippets
						%h2 What is git?
						%h3 Rebasing
						%p Move commits on top of master:
						:markdown
								>>                   C---D feature
								>>                  /
								>>             A---B---E master
						.fragment
							%p Rebase:
							:markdown
									>>                       C'--D' feature
									>>                      /
									>>             A---B---E master

					%section.narrowSnippets
						%h2 What is git?
						%h3 Cherry picking
						%p Copy change to master:
						:markdown
								>>                   C---X---E feature
								>>                  /
								>>             A---B master
						.fragment
							%p Cherry-pick:
							:markdown
									>>                   C---X---E feature
									>>                  /
									>>             A---B---X' master
						.fragment
							%p Rebase skips change:
							:markdown
									>>                       C'--E' feature
									>>                      /
									>>             A---B---X' master

					%section.narrowSnippets
						%h2 What is git?
						%h3 Ignore patterns
						:markdown
								*.zip
								/stacktrace.log
								/target/
								/out/
						:markdown
							* `.gitignore` — for team, tracked, can be in subdirectories
							* `.git/info/exclude` — for you
							* `~/.gitignore` — for all your repos (name specified in `~/.gitconfig`)

				%section{data: {state: "commands"}}
					%section
						%h2 Commands
						%h3 Essential 1/2
						%p.fragment <code>help</code>
						.fragment
							%p <code>init</code> — init repository [<code>svnadmin</code>]
							%p <code>clone</code> — clone repository [<code>svn checkout</code>]
						%p.fragment <code>status</code> — show status of workspace and stage area
						%p.fragment <code>add</code>, <code>mv</code>, <code>rm</code> or just <code>add -A</code> — stage changes
						%p.fragment <code>commit</code> — create commit
						%p.fragment <code>log</code> — show commit history
						%p.fragment <code>diff</code> — show changes
						.fragment
							%p <code>merge</code> — join histories
							%p <code>rebase</code> — move history changes [<del>svn</del>]
							%p <code>cherry-pick</code> — copy history changes [<code>svn merge -c</code>]

					%section
						%h2 Commands
						%h3 Essential 2/2
						%p.fragment <code>checkout</code> — checkout branch or paths [<code>svn revert|switch</code>]
						%p.fragment <code>reset</code> — reset current HEAD, workspace, stage area [<del>svn</del>]
						.fragment
							%p <code>branch</code> — create, list, delete branches
							%p <code>tag</code> — create, list, delete tags
							%p <code>remote</code> — create, list, delete remotes [<del>svn</del>]
						.fragment
							%p <code>fetch</code> — fetch remote refs and objects [<del>svn</del>]
							%p <code>pull</code> — fetch and merge from remote [<code>svn update</code>]
							%p <code>push</code> — update remote refs and upload objects [part of <code>svn commit</code>]

					%section
						%h2 Commands
						%h3 Helpful
						%p.fragment <code>revert</code> — commit reverting change
						%p.fragment <code>clean</code> — remove untracked files [<del>svn</del>]
						%p.fragment <code>show</code> — show objects [<code>svn cat|list|log|diff</code>]
						%p.fragment <code>blame</code> — show author of changes
						%p.fragment <code>stash</code> — put aside your work [<del>svn</del>]
						%p.fragment <code>bisect</code> — find <del>the bad guy</del> commit introducing bug [<del>svn</del>]
						%h3.fragment and advanced
						%p.fragment <code>svn</code> — work with svn repository
						%p.fragment <code>submodule</code>, <code>subtree</code> — attach foreign repositories
						%p.fragment <code>filter-branch</code> — rewrite history using filters

					%section
						%h2 Commands
						%h4.fragment{data: {fragment_index: 1}}
							%span.fragment.fade-out{data: {fragment_index: 6}} porcelain (high level)
						- essential_commands = %w[add bisect branch checkout cherry-pick clean clone commit diff fetch grep init log merge mv pull push rebase remote reset revert rm show stash status tag blame]
						- command_attributes = proc{ |command| essential_commands.include?(command) ? {} : {:class => 'fragment fade-out', :data => {fragment_index: 6}} }
						%p.fragment.commands.small{data: {fragment_index: 3}}
							%span.fragment.fade-out{data: {fragment_index: 6}} Main:
							- %w[add am archive bisect branch bundle checkout cherry-pick citool clean clone commit describe diff fetch format-patch gc grep gui init log merge mv notes pull push rebase reset revert rm shortlog show stash status submodule tag gitk].each do |command|
								%code{command_attributes[command]}= command
						%p.fragment.commands.small{data: {fragment_index: 4}}
							%span.fragment.fade-out{data: {fragment_index: 6}} Ancillary:
							- %w[annotate archimport blame cherry config count-objects cvsexportcommit cvsimport cvsserver difftool fast-export fast-import filter-branch fsck get-tar-commit-id help imap-send instaweb merge-tree mergetool p4 pack-refs prune quiltimport reflog relink remote repack replace request-pull rerere rev-parse send-email show-branch svn verify-tag whatchanged].each do |command|
								%code{command_attributes[command]}= command
						%h4.fragment{data: {fragment_index: 2}}
							%span.fragment.fade-out{data: {fragment_index: 6}} plumbing (low level)
						%p.fragment.commands.small{data: {fragment_index: 5}}
							- %w[apply cat-file check-attr check-ignore check-ref-format checkout-index column commit-tree credential credential-cache credential-store daemon diff-files diff-index diff-tree fetch-pack fmt-merge-msg for-each-ref hash-object http-backend http-fetch http-push index-pack ls-files ls-remote ls-tree mailinfo mailsplit merge-base merge-file merge-index merge-one-file mktag mktree name-rev pack-objects pack-redundant parse-remote patch-id prune-packed read-tree receive-pack rev-list send-pack sh-i18n sh-setup shell show-index show-ref stripspace symbolic-ref unpack-file unpack-objects update-index update-ref update-server-info upload-archive upload-pack var verify-pack write-tree].each do |command|
								%code{command_attributes[command]}= command

					%section
						%h2 Commands
						%h3 Customize
						.fragment
							%h4 Define aliases
							:markdown
									[alias]
										s = status
										ci = commit
										a = add --all
										d = diff --ignore-space-change
										wd = diff --color-words
										lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
						.fragment
							%h4 Create your commands
							%p Everything in PATH like <code>git-*</code> can be called like <code>git *</code>

				%section{data: {state: "why"}}
					%section
						%h2 Why git?
						%p Branching and merging
						%p Distributed
						%p Small and fast
						%p Robust
						%p Staging area
						%aside.notes
							%p Stash, clean, bisect
							%p Open source

					%section
						%h2 Why git?
						%h3 Branching and merging
						%p.fragment Branches are cheap
						%p.fragment Just named references, no copying or linking files, no history entry
						%p.fragment Create branch for every feature, test or experiment
						%p.fragment Easily switch branches
						%p.fragment Merge worthwhile and delete unsuccessful
						%p.fragment No obligation to share branches

					%section
						%h2 Why git?
						%h3 Distributed VCS
						%p.fragment
							Every repository is self-contained
							%span.fragment and works as a backup
						%p.fragment
							Commit early, commit often, commit without disturbing others
							%sup.fragment helps to merge
						%p.fragment Commit before merge rather than update then commit
						%p.fragment Server is not required until you need to share/publish work
						%p.fragment Different workflows (git flow, pull requests, …)
						%p.fragment Workflow depends on your team, not on your VCS
						%p.fragment <code>git init</code> is enough when you need source control

					%section
						%h2 Why git?
						%h3 Small and fast
						%p.fragment Nearly all operations run locally
						%p.fragment
							%a{href: "http://git-scm.com/about/small-and-fast"} Even network operations are several times faster than SVN (except clone)
						%p.fragment Was built for speed, performance and handling big projects from start
						.fragment
							An example:
							%p.fragment
								po/.svn
								%span.fragment — 4.1M
								%span.fragment — 1 revision
							%p.fragment
								po/.git
								%span.fragment — 3.2M
								%span.fragment — 1839 commits

					%section
						%h2 Why git?
						%h3 Robust
						%p.fragment Simple data model with integrity using SHA1 hashes
						%p.fragment Tracks content rather than differences/files
						%p.fragment Tries its best to protect your data
						%p.fragment Allows changing history (Ministry of Truth is satisfied)
						%p.fragment But makes it obviously alternative (Ministry of Truth is furious)

					%section
						%h2 Why git?
						%h3 Staging area
						%p.fragment Prepare and review changes before committing
						%p.fragment Easily split changes to multiple commits (also in one file)
						%p.fragment Commit while still working

				%section{data: {state: "cons"}}
					%h2 Cons
					%p.fragment No subtree checkout
					%p.fragment Commmits are not sequentially numbered
					%p.fragment Higher learning curve
					%p.fragment Directories are not tracked
					%p.fragment Limited file mode tracking

				%section{data: {state: "suggestions"}}
					%h2 Dos and don'ts
					%p.fragment.highlight-green Commit early and often
					%p.fragment.highlight-green Choose a workflow and agree upon it with your team
					%p.fragment.highlight-green Create branches
					%p.fragment.highlight-green Make useful commit messages
					%p.fragment.highlight-green Keep up to date (sync early, sync often)
					%p.fragment.highlight-green Enforce standards
					%p.fragment.highlight-red Don't change <del>official</del> published history
					%p.fragment.highlight-red Don't change tags

				%section{data: {state: "resources"}}
					%section
						%h2 Resources
						%h3 Guis
						%ul
							%li builtin <code>git gui</code> and <code>gitk</code>
							%li
								%a{href: "http://www.jetbrains.com/idea/features/version_control.html"} IntelliJ IDEA Git Integration
								%span.tag OS X
								%span.tag Windows
								%span.tag Linux
							%li
								%a{href: "http://sourcetreeapp.com/"} Atlassian SourceTree
								%span.tag OS X
								%span.tag Windows
							%li
								= succeed ',' do
									%a{href: "http://gitx.frim.nl/"} GitX
								= succeed ',' do
									%a{href: "http://gitx.laullon.com/"} GitX (L)
								%a{href: "http://mac.github.com/"} GitHub Mac
								%span.tag OS X
							%li
								= succeed ',' do
									%a{href: "http://windows.github.com/"} GitHub Windows
								= succeed ',' do
									%a{href: "https://code.google.com/p/tortoisegit/"} TortoiseGit
								%a{href: "https://code.google.com/p/gitextensions/"} Git Extensions
								%span.tag Windows
							%li
								%a{href: "https://github.com/jessevdk/gitg"} gitg
								%span.tag Linux
							%li
								= succeed ',' do
									%a{href: "http://www.collab.net/giteyeapp"} GitEye
								= succeed ',' do
									%a{href: "http://www.syntevo.com/smartgithg/index.html"} SmartGit
								%a{href: "http://git-cola.github.io/"} git-cola
								%span.tag OS X
								%span.tag Windows
								%span.tag Linux

					%section
						%h2 Resources
						%h3 Links
						%ul
							%li
								%a{href: 'http://try.github.com/'} try.github.com
								— try git even without installing
							%li
								%a{href: 'http://gitref.org/'} gitref.org
								— most important commands explained
							%li
								%a{href: "http://www.vogella.com/articles/Git/article.html"} vogella.com/articles/Git/article.html
								— detailed usage
							%li
								%a{href: 'http://git-scm.com/about'} git-scm.com/about
								— more on «why git?»
							%li
								%a{href: 'http://git-scm.com/book'} git-scm.com/book
								— Pro Git book
							%li
								%a{href: 'http://ndpsoftware.com/git-cheatsheet.html'} ndpsoftware.com/git-cheatsheet.html
								%a{href: 'https://github.com/ndp/git-cheatsheet'} @github
								— visual cheatsheet
							%li
								%a{href: 'https://git.wiki.kernel.org/index.php/GitSvnCrashCourse'} GitSvnCrashCourse
								— how to move from SVN
							%li
								%a{href: "https://www.kernel.org/pub/software/scm/git/docs/"} kernel.org/pub/software/scm/git/docs
								— html man pages

				%section#end{data: {state: "begin-end"}}
					%h1 so, git?
					%p.fragment{style: 'margin-top: 3em'}
						Created using:
						= succeed ',' do
							%a{href: "https://github.com/hakimel/reveal.js"} reveal.js
						= succeed ',' do
							%a{href: "http://haml-lang.com/"} HAML
						= succeed ',' do
							%a{href: "http://sass-lang.com/"} SASS
						= succeed ',' do
							%a{href: "http://ruby-lang.org/"} Ruby
						Shell script,
						%a{href: "http://daringfireball.net/projects/markdown/"} Markdown
						and
						%a{href: "http://git-scm.com/"} git
						:plain
							:)

		%script{:src => "reveal.js/lib/js/head.min.js"}
		%script{:src => "reveal.js/js/reveal.min.js"}
		:javascript
			Reveal.initialize({
				width: 1300,
				height: 875,
				margin: 0.05,
				minScale: 0.5,
				maxScale: window.location.search.match( /print-pdf/gi ) ? 1.0 : 10.0,

				controls: true,
				progress: true,
				history: true,
				center: true,
				theme: Reveal.getQueryHash().theme,
				transition: 'default',
				dependencies: [
					{ src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					//{ src: 'reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList && !(document.location.hostname == 'localhost' || document.location.hostname == ''); } },
				]
			});
